# 忽略工具和缓存目录
steamcmd/
__pycache__/

/overlap/
organize_completed.py
/temp_artifacts/

# 忽略由GitHub Action工作流动态生成的临时文件
/api_response.json
/pr_body.md

/.vs

/data/PZ-Mod-Translation/*

/translation_utils/PreProcessing/*
!/translation_utils/PreProcessing/PreProcessing.sln
!/translation_utils/PreProcessing/PreProcessing/PostProcessing.csproj
!/translation_utils/PreProcessing/PreProcessing/Program.cs

/translation_utils/PostProcessing/*
!/translation_utils/PostProcessing/PostProcessing.sln
!/translation_utils/PostProcessing/PostProcessing/PostProcessing.csproj
!/translation_utils/PostProcessing/PostProcessing/Program.cs
